#pip==10.0.0
#pip-tools==1.11.0
#wheel==0.31.0
flake8==3.6.0
flake8-builtins==1.4.1
flake8-mutable==1.2.0
#coverage==4.5.1
Sphinx==1.8.2
pytest==3.7.1
pytest-runner==4.2
pytest-cov==2.5.1
mypy==0.620; python_version >= '3.4'
